#corpo{
    background-image: url("images/mac.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Arial;
}
#corpoalgoritmo{
    background-image: url("images/white.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: sans-serif;
    font-size: small;
    color: black;
}
#algoritms{
    color: white;
}

#Intro{
    color: white;
}

#CS{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#language{
    font-size: 14;
    font-family: Arial;
    color: black;
}
#kindsa{
    color: red;
}

#begin {
    background-image: url("images/frame.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
#caverinha{
    color: black;
    font-family: Arial;
    font-size: 14;
}
