#corpo{
    background-image: url("images/mac.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Arial;
}
#corpoalgoritmo{
    background-image: url("images/white.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: sans-serif;
    font-size: small;
    color: black;
}
#algoritms{
    color: white;
}

#Intro{
    color: white;
}

#CS{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#language{
    color: white;
}
#tabela{
    border-radius: 0.5ch;
    position: relative;
    text-align: left;
    color: orangered;
    padding: 5px;
    font-family: 'Arial';
    font-size: 1.0em;
    width: 40%;
    
}
